.Intro{
  display: flex;
  height: 80vh;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

.Intro > div{
  flex-grow: 1;
  background-image: url("//img1.wsimg.com/isteam/stock/7e3816f6ec64b1ec014566d80cfecb5ee42fedceee7a0d60f1d4eb03daf59053/:/rs=w:600,h:800,cg:true,m/cr=w:600,h:800,a:cc");
  background-size: cover;
  background-position: center center;
}

.Intro > div:last-child{
  background-image: url("//img1.wsimg.com/isteam/stock/6112e05250b086cc279f79c2976a379e384f5d78ea941e7660f35675d6201000/:/rs=w:600,h:800,cg:true,m/cr=w:600,h:800,a:cc");
  background-size: cover;
  background-position: center center;
}

.Intro:after{
  content: '';
  height: 40vh;
  width: 40vh;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0,100,0, 0.8);
  top: calc(35vh - 20vh + 60px);
  left: calc(50vw - 20vh);
}